# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.env
venv/
env/

# IDE-spezifische Ordner
.vscode/
.idea/

# Datenordner (falls die Daten nicht versioniert werden sollen)
data/
Oszillogramme/